.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #43425D;
}
.logo{
    height: 100px;
    margin-bottom: 20px;
}
.title{
    color: #C99D71;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Rampart One', cursive;

}
.description{
    color: #C99D71;
    font-size: 1rem;
    margin-bottom: 20px;
    margin-left: 10px;
    font-size: 'Roboto', sans-serif;
}
.button-restart{
    background-color: #ff6961;
    color: white;
    padding: 10px 20px;
    border:none;
    border-radius: 5px;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}
.button-restart:hover{
    background-color: #ff2810;
}
.score-container{
    margin-bottom: 50px;
}
.score{
    color: #fff;
    font-size: 5rem;
    font-family: 'Rampart One', sans-serif;
}
.total{
    padding-top: 20px;
    color: #fff;
    font-size: 2rem;
    font-family: 'Rampart One', sans-serif;
}
.footer{
    position: absolute;
    bottom: 1rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.author{
    color: #C99D71;
    font-size: 1.2rem;
    text-decoration: none;
    font-family: 'Dancing Script',cursive;
}